body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#footer {
    bottom: 0;
    position: absolute;
}

#inputData {
    width: 30px;
}

#resbutton {
    width: 80px;
    -webkit-text-stroke-width: medium;
    margin-left: 95px;
    color: rgba(255, 255, 255, 0.98);
    background-color: rgb(0, 70, 255);
}

#image {
    width: 500px;
    height: 500px;
    margin-left: 105px;
}
