@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
<div class="row">
    <div class="col-md-8">
        <hr>
        <img id="image" src="~/Content/img/image.jpg" alt="lorem">
    </div>
    <div class="col-md-4">
        <hr>
        <p>Function: y = 
            <input id="coffA" type="text"/>x^2 +
            <input id="coffB" type="text"/>x +
            <input id="coffC" type="text" />
        </p>
        <p>Step: 
            <input id="step" type="text" />
        </p>
        <p>From:
            <input id="rangeFrom" type="text" /> to
            <input id="rangeTo" type="text"/>
        </p>
        <p><a id="resbutton" class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Plot</a></p>
    </div>
</div>
